# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
quote_type = double


[*.{html,js,css}]
block_comment_start = /**
block_comment = *
block_comment_end = */

[*.svg]
insert_final_newline = false

[*.{js,ts}]
quote_type = single

[*.txt]
indent_style = space
indent_size = unset
end_of_line = unset

[*.woff2]
end_of_line = crlf
