# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
._*
Thumbs.db

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.rej

# Docs
docs/js/toolbar.js
docs/js/toolbar.js.map

# Build
orange-confort-plus-*.*.*.zip
dist/WebExtension/manifest.json
