# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
yarn.lock

# IDEs and editors
/.idea
.idea
/.idea:*
/.idea/*
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
._*
Thumbs.db

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.rej

# Docs
src/site/css/*.css
src/site/css/*.css.map
./img/

# Build
*.zip
dist/extension/manifest.json
/dist/js
/dist/css
/src/img/

# Docs
/docs/css/boosted.css
/docs/css/orange-helvetica.css
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
