# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS folders
.DS_Store
._*
Thumbs.db

# Folders to ignore
.hg
.svn
.CVS
.idea

node_modules
.tmp
docs/COPYING.txt

## dist/
dist/WebExtension/web-ext-artifacts

## CSS
docs/css/classic-toolbar.*.css
docs/css/classic-toolbar.min.*.css
docs/css/help.*.css
docs/css/*.css
docs/css/*.*.css
docs/css/*.*.map

## Fonts
docs/fonts/accessibleDFA/AccessibleDfA.*
docs/fonts/accessibleDFA/AUTHORS
docs/fonts/accessibleDFA/LICENSE
docs/fonts/Confort Plus.*.json
docs/fonts/open-dyslexic/**/*.*
docs/fonts/*/LICENSE.txt
docs/fonts/open-sans/*.ttf
docs/fonts/orangeconfortplus.*.*

## HTML
docs/demo_*.html
docs/gifpage.html
docs/testpage.html
docs/cookie.html
docs/help/*.html
docs/images/*.*

## JS
docs/js/toolbar.js
docs/js/toolbar-min.js
