app-btn-setting {
	flex: 2;
	max-width: 12em;
}

.sc-btn-setting {
	border-radius: 1em;
	min-height: 5.5em;

	&:hover .sc-btn-setting__current-value {
		background-color: var(--cplus-primary);
	}

	&:active .sc-btn-setting__value {
		background-color: var(--cplus-body-color);
	}
}

.sc-btn-setting--default {
	background-image:
		linear-gradient(45deg, var(--cplus-body-bg) 0 8px, transparent 8px),
		linear-gradient(-45deg, var(--cplus-body-bg) 0 8px, transparent 8px),
		linear-gradient(135deg, var(--cplus-body-bg) 0 8px, transparent 8px),
		linear-gradient(-135deg, var(--cplus-body-bg) 0 8px, transparent 8px);

	&.btn,
	&.btn:hover,
	&.btn:focus,
	&.btn:active {
		border-color: var(--cplus-body-bg);
	}
}

.sc-btn-setting__value {
	background-color: var(--cplus-body-bg);
	height: .25em;
	width: .25em;
}

.sc-btn-setting__current-value {
	background-color: var(--cplus-body-color);
	height: .5em;
	width: .5em;
}

.sc-btn-setting__tooltip {
	opacity: 1;
	position: absolute;
}