.sc-confort-plus {
	border-radius: 50%;
	position: fixed;
	top: 0;
	right: 0;
	padding: 0 !important;
	transform: translate(-25%, 25%);
	z-index: calc(infinity);
}

.sc-confort-plus--paused {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: -0.625rem;
	top: -0.625rem;
	width: 1.5625rem;
	height: 1.5625rem;
	line-height: 1.5625rem;
	padding-bottom: 0.1875rem;
	border-radius: 50%;
	border: 0.125rem solid var(--cplus-btn-bg);
	color: var(--cplus-white);
	background-color: var(--cplus-body-color);
}

.sc-confort-plus:hover .sc-confort-plus--paused {
	border: none;
}
