.sc-mode__setting-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 6.5rem;

	& .sc-mode__setting, & .sc-mode__setting > * {
		// @todo cette height est-elle nécessaire ?
		height: 100%;
	}
}
