.sc-select-mode__input {
	appearance: none;
	position: absolute;
	opacity: 0;

	&:checked + label {
		box-shadow: var(--cplus-focus-ring-x,0) var(--cplus-focus-ring-y,0) var(--cplus-focus-ring-blur,0) var(--cplus-focus-ring-width) var(--cplus-primary);
	}

	&:not(:checked) + label > p {
		display: none;
	}

	&:focus + label {
		box-shadow: var(--cplus-focus-ring-x,0) var(--cplus-focus-ring-y,0) var(--cplus-focus-ring-blur,0) var(--cplus-focus-ring-width) var(--cplus-focus-visible-outer-color);
	}
}

.sc-select-mode__label {
	cursor: pointer;
}
