#toolbar {
	box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
	display: grid;
	grid-template-rows: auto 1fr;
	width: 19.5vw;
	min-width: 18em;
	height: 100vh;
	overflow: auto;
	transition:
		transform .3s ease-in-out,
		visibility .3s ease-in-out;
	will-change: transform, visibility;
	z-index: 2147483647;
}
