@use "concrete-colors";

$color-default-primary: concrete-colors.$black;
$color-default-secondary: concrete-colors.$white;

$color-project-primary: concrete-colors.$safety-orange;

$color-project-secondary: concrete-colors.$black;

$color-succes: concrete-colors.$lime-green;

$color-error: concrete-colors.$sinopia;
