$font-accessible-dfa-regular: "Accessible-DFA";
$font-open-dyslexic-regular: "Open-Dyslexic";
$font-open-sans-regular: "Open-Sans";

@font-face {
  font-family: $font-accessible-dfa-regular;
  src: url("../../assets/fonts/AccessibleDfA-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: $font-open-dyslexic-regular;
  src: url("../../assets/fonts/OpenDyslexic-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: $font-open-sans-regular;
  src: url("../../assets/fonts/OpenSans-Regular.woff2");
  font-display: swap;
}
