@import "concrete-colors";

$color-default-primary: $black;
$color-default-secondary: $white;

$color-project-primary: $safety-orange;

$color-project-secondary: $black;

$color-succes: $lime-green;

$color-error: $sinopia;
